<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <style>
    label{
        font-size: 1.3em;
    }
    </style>
</head>

<div>
<body>
    <div class="jumbotron text-center">
            <h1>Create New Book Information</h1>
        </div>
    <form action="/create" method="POST">
        <label for='name'><b>Book Name*:</b></label><br>
          <input type="text" id="name" name="name" placeholder=""><br><br>
        <label for='bookID'><b>Book ID*:</b></label><br>
            <input type="text" id="bookID" name="bookID" placeholder="" pattern="[0-9]{8}"><br>
        <small>Format: XXXXXXXX (Only available for number)</small><br><br>
        <label for='author'><b>Author:</b></label><br>
            <input type="text" id="author" name="author" placeholder=""><br><br>
        <label for='publisher'><b>Publisher:</b></label><br>
            <input type="text" id="publisher" name="publisher" placeholder=""><br><br>
       <label for='ISBN'><b>ISBN:</b></label><br>
            <input type="text" id="ISBN" name="ISBN" placeholder="" pattern="[0-9]{13}"><br>
        <small>Format: 9781234567890</small><br><br>
        <label for='genre'><b>Genre:</b></label><br>
            <input type="text" id="genre" name="genre" placeholder=""><br><br>
        <label for='description'><b>Description:</b></label><br>
            <textarea name="description" id="description" cols="50" rows="10" placeholder="Type your comments..."></textarea><br>
        </p>
        <input type="submit" value="Create" /> 
    </form>    
</body>
</div>
</html>