<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
    /* CSS styles for text size */
        .jumbotron h1 {
            font-size: 30px; /* Change the font size as needed */
        }
        .row a {
            font-size: 26px; /* Change the font size as needed */
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Library Information Management System</h1>
    </div>
    <div class="row ml-md-auto">
        <a href="/create" role="button">Create New Document</a> <br>
        <a href="/find" role="button">Find existing document by user ID</a> <br>
        <a href="/list" role="button">Show all user ID information</a> <br>
        <a href="/logout" role="button">Logout</a>
    </div>

</body>
</html>
