<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login system</title>
    <style>
        label{
            font-size:24px;  
            font-size: 2.5em;
        }
    </style>
</head>
<body>
    <div>
        <h1>Library Information System</h1>
        <h2>Welcome!</h2>
    </div>
    <form action="/login" method="post">
        <label for='account'><b>Enter your Account Here:</b></label><br>
        <input type="text" id="account" name="account" placeholder="Your admin username"><br><br>
        <label for='password'><b>Enter Your Password Here:</b></label><br>
        <input type="password" id="password" name="password" placeholder="Your admin passward"><br><br>
    <button type="submit">Conform to login</button>
</form>
<p>Make sure you have a admin account here.</p>

</body>
</html>
